<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <img>
   

 
    <h1>Home EJS file / static file serve -</h1><hr>
     <%-include('another.ejs')%>
     <img src="p2.jpg"  style="width: 700px;"/>
    <hr />
  </body>
</html>
